
.top_bottom {
    margin: 0px 0px 50px 0px;
}




.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    flex: 0 0 25%;
}

.card {
    margin: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
 
    margin:20px 0px 0px 0px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: black;
}

.logs {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    column-gap: 10px;

}

.logo {
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

* {
    box-sizing: border-box;
  }
  
 


  #top {
  background-color: #FF0;
  width: 1800px;
  height: 50px;
  position: fixed;
  left: 0px;
  top: 0px;
  }
  
  #sideLeft {
  float: left;
  width: 950px;
  background-color: #9C0;
  clear: left;
  }
  
  #sidebarLeft {
  background-color: #0CC;
  height: 800px;
  width: 300px;
  float: left;
  }
  
  .list {
  float: left;
  width: 600px;
  margin-top: 100px;
  }
  #ordoner {
  background-color: #F90;
  float: left;
  width: 640px;
  height: 800px;
  position: fixed;
  top: 50px;
  left: 950px;
  }
  
  #sidebarRight {
  width: 210px;
  height: 800px;
  position: fixed;
  top: 50px;
  left: 1590px;
  background-color: #0CF;
  }
