{% include 'header.html' %}



<h1 style="text-align: center;">VIVO</h1>




<br>
      
      <!-- Products Section -->
<div class="container">
    <div class="row">
      <div class="col-6 col-lg-3 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Products Section -->
<br>
      <!-- Products Section -->
<div class="container">
    <div class="row">
      <div class="col-6 col-lg-3 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Products Section -->
<br>












{% include 'footer.html' %}