{% include 'header.html' %}


      <!-- slider -->
      <div style="margin: -10px 0px 0px 0px;" id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="height: 400px;">
          <div class="carousel-item active"  style="height: 100%;
          width:  100%;"data-bs-interval="10000">
            <img src="https://local-shopee.raghavs2812.repl.co/static/nav-item-1.webp" class="d-block w-100" alt="..." >
            <div class="carousel-caption d-none d-md-block">
                <div  style="position: relative;left: -230px;top: -50px;">
                    <h6> Smartphones @</h6>
                        <h2>NO COST EMI</h2>
                        <h2>UPTO 10% INSTANT DISCOUNT</h2>
                        <h2>ASSURED GIFT ON EVERY PURCHASE</h2>
                        <br>
                        <button type="button" class="btn btn-primary btn-lg">SHOP NOW</button>
                </div>
             
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://local-shopee.raghavs2812.repl.co/static/nav-item-2.webp" class="d-block w-100" alt="..."  >
            <div class="carousel-caption d-none d-md-block">
                <div  style="position: relative;left: -230px;top: -50px;">
                    <h6> SmartWatch @</h6>
                        <h1>Upto 35%-70%</h1>
                        <h1>DISCOUNT ON</h1>
                        <h1>BRANDED SMARTWATCH</h1>
                        <br>
                        <button type="button" class="btn btn-primary btn-lg">SHOP NOW</button>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://local-shopee.raghavs2812.repl.co/static/nav-item-3.webp" class="d-block w-100" alt="..."  >
            <div class="carousel-caption d-none d-md-block">
                <div  style="position: relative;left: -230px;top: -50px;">
                    <h6> Electronic @</h6>
                        <h2>NO COST EMI</h2>
                        <h2>0 DOWNPAYMENT</h2>
                        <h2>0 PROCESSING FEE</h2>
                        <h2>0 INTEREST RATE</h2>
                        <br>
                        <button type="button" class="btn btn-primary btn-lg">SHOP NOW</button>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div style="margin: 35px 10px 35px 20px;">
        <img src="https://local-shopee.raghavs2812.repl.co/static/index-img-1.webp" alt="index-img-1.webp" height="300px" width="610px">
         <span>
        <img src="https://local-shopee.raghavs2812.repl.co/static/index-img-2.webp" alt="index-img-2.webp" height="300px" width="610px"></span>
      </div>
      <button style="position: absolute;left: 54.5%; top:152%;" type="button" class="btn btn-light btn-lg">SHOP NOW</button >
      <button style="position: absolute;left: 4.7%; top:145%;" type="button" class="btn btn-light btn-lg">SHOP NOW</button >


    <img style="margin: 10px 0px 35px 20px" src="https://local-shopee.raghavs2812.repl.co/static/img-1.png" alt="" height="95%" width="97%">












<div style="margin: 10px 15px 35px 15px">
        <div class="Container" style="background-color: rgb(255, 255, 255);">
          <h1 style="text-align: center;">Best Seller</h1>

<!-- Products -->
<div class="row mx-n2 mx-sm-n3">
  <div class="col-6 col-lg-3 px-2 px-sm-3 mb-3 mb-sm-5">
  <!-- Product -->
  <div class="card text-center h-100">
    <div class="position-relative">
          <img class="card-img-top" src="https://m.media-amazon.com/images/I/61QRgOgBx0L._SL1500_.jpg" alt="Image Description">

      <div class="position-absolute top-0 left-0 pt-3 pl-3">
      </div>
      <div class="position-absolute top-0 right-0 pt-3 pr-3">
          <span class="fas fa-heart btn-icon__inner"></span>
        </button>
      </div>
    </div>

    <div class="card-body pt-4 px-4 pb-0">
      <div class="mb-2">
        <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Smartphone</a>
        <h3 class="font-size-1 font-weight-normal">
          <a class="text-secondary" href="#">Herschel backpack in dark blue</a>
        </h3>
        <div class="d-block font-size-1">
          <span class="font-weight-medium">$56.99</span>
        </div>
      </div>
    </div>

    <div class="card-footer border-0 pt-0 pb-4 px-4">
      <div class="mb-3">
        <a class="d-inline-flex align-items-center small" href="#">
          <div class="text-warning mr-2">
            <small class="far fa-star text-muted"></small>
            <small class="far fa-star text-muted"></small>
            <small class="far fa-star text-muted"></small>
            <small class="far fa-star text-muted"></small>
            <small class="far fa-star text-muted"></small>
          </div>
        </a>
      </div>
      <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Add to Cart</button>
    </div>
  </div>
  <!-- End Product -->
</div>

<div class="col-6 col-lg-3 px-2 px-sm-3 mb-3 mb-sm-5">
  <!-- Product -->
  <div class="card text-center h-100">
    <div class="position-relative ">
        <!-- img -->
      <img class="card-img-top "  src="https://m.media-amazon.com/images/I/613SAOPmLeL._SL1500_.jpg"  alt="Image Description">

      <div class="position-absolute top-0 right-0 pt-3 pr-3">
          <span class="fas fa-heart btn-icon__inner"></span>
        </button>
      </div>
    </div>

    <div class="card-body pt-4 px-4 pb-0">
      <div class="mb-2">
        <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Smartphone</a>
        <h4 class="font-size-1 font-weight-normal">
          <a class="text-secondary" href="#">Front hoodie</a>
        </h4>
        <div class="d-block">
          <span class="font-weight-medium">$91.88</span>
        </div>
      </div>
    </div>

    <div class="card-footer border-0 pt-0 pb-4 px-4">
      <div class="mb-3">
        <a class="d-inline-flex align-items-center small" href="#">
          <div class="text-warning mr-2">
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="far fa-star text-muted"></small>
          </div>
        </a>
      </div>
      <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Add to Cart</button>
    </div>
  </div>
  <!-- End Product -->
</div>

<div class="col-6 col-lg-3 px-2 px-sm-3 mb-3 mb-sm-5">
  <!-- Product -->
  <div class="card text-center h-100">
    <div class="position-relative">
        <!-- img -->
      <img class="card-img-top "  src="https://m.media-amazon.com/images/I/81lAth+jv+L._SL1500_.jpg" alt="Image Description">

      <div class="position-absolute top-0 left-0 pt-3 pl-3">
      </div>
      <div class="position-absolute top-0 right-0 pt-3 pr-3">
          <span class="fas fa-heart btn-icon__inner"></span>
        </button>
      </div>
    </div>

    <div class="card-body pt-4 px-4 pb-0">
      <div class="mb-2">
        <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Smartphone</a>
        <h4 class="font-size-1 font-weight-normal">
          <a class="text-secondary" href="#">Herschel backpack in gray</a>
        </h4>
        <div class="d-block font-size-1">
          <span class="font-weight-medium">$29.99</span>
          <span class="text-secondary ml-1"><del>$33.99</del></span>
        </div>
      </div>
    </div>

    <div class="card-footer border-0 pt-0 pb-4 px-4">
      <div class="mb-3">
        <a class="d-inline-flex align-items-center small" href="#">
          <div class="text-warning mr-2">
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="far fa-star text-muted"></small>
            <small class="far fa-star text-muted"></small>
          </div>
          <!-- <span class="text-secondary">125</span> -->
        </a>
      </div>
      <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Add to Cart</button>
    </div>
  </div>
  <!-- End Product -->
</div>

<div class="col-6 col-lg-3 px-2 px-sm-3 mb-3 mb-sm-5">
  <!-- Product -->
  <div class="card text-center h-100">
    <div class="position-relative ">
  <!-- img -->
  <img class="card-img-top "  src="https://m.media-amazon.com/images/I/61ODIFuCgAL._SL1200_.jpg" alt="Image Description">

      <div class="position-absolute top-0 right-0 pt-3 pr-3">
          <span class="fas fa-heart btn-icon__inner"></span>
        </button>
      </div>
    </div>

    <div class="card-body pt-4 px-4 pb-0">
      <div class="mb-2">
        <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Smartphone</a>
        <h4 class="font-size-1 font-weight-normal">
          <a class="text-secondary" href="#">Front Originals adicolor t-shirt with trefoil logo</a>
        </h4>
        <div class="d-block">
          <span class="font-weight-medium">$38.00</span>
        </div>
      </div>
    </div>

    <div class="card-footer border-0 pt-0 pb-4 px-4">
      <div class="mb-3">
        <a class="d-inline-flex align-items-center small" href="#">
          <div class="text-warning mr-2">
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
            <small class="fas fa-star"></small>
          </div>
        </a>
      </div>
      <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Add to Cart</button>
    </div>
  </div>
  <!-- End Product -->
</div>
</div>
<!-- End Products -->
</div>








<div style="margin: 20px 0px 35px 0px">
  <div class="Container" style="background-color: rgb(255, 255, 255);">
 <h1 style="text-align: center;"> Shop by Category</h1> 
  <table>
    <tr align="center">
      <td><img src="https://local-shopee.raghavs2812.repl.co/static/smartphone.png" height="50%" width="50%"><br><br><h3>Smartphone</h3></td>
      <td><img src="https://local-shopee.raghavs2812.repl.co/static/tab.png" height="50%" width="50%"><br><br><h3>TAB</h3></td>
      <td><img src="https://local-shopee.raghavs2812.repl.co/static/buds.png" height="50%" width="50%"><br><br><h3>Buds</h3></td>
      <td><img src="https://local-shopee.raghavs2812.repl.co/static/watch.png" height="50%" width="50%"><br><br><h3>SmartWatch</h3></td>   
    </tr>
    <tr align="center">
      <td><img src="https://local-shopee.raghavs2812.repl.co/static/wm.png" height="50%" width="50%"><br><br><h3> Washing Machine</h3></td>
      <td><img src="https://local-shopee.raghavs2812.repl.co/static/oven.png" height="50%" width="50%"><br><br><h3>Oven</h3></td>
      <td><img src="https://local-shopee.raghavs2812.repl.co/static/tv.png" height="50%" width="50%"><br><br><h3>TV</h3></td>
    </tr>
  </table>
  </div>
<br>
  <div div class="Container divpadding">
   <div class="d-grid col-md-3" style="position:absolute;left:5%;top:505.4%;">
  <button class="btn btn-dark" type="button">Buy Now</button>
</div>
    <img src="https://local-shopee.raghavs2812.repl.co/static/bg1.png" alt="" height=70% width=100%>
  </div>
<br>

  <div class="Container divpadding" style="background-color: rgb(255, 255, 255);">
    <h1 style="text-align: center;"> Brands</h1> 
     <table>
       <tr align="center">
         <td><img src="https://local-shopee.raghavs2812.repl.co/static/Apple_logo_PNG1.png" height="20%" width="20%"></td>
         <td><img src="https://local-shopee.raghavs2812.repl.co/static/Samsung_logo_PNG2.png" height="50%" width="50%"></td>
         <td><img src="https://local-shopee.raghavs2812.repl.co/static/OnePlus-Logo-PNG_009.png" height="70%" width="70%"></td>
         <td><img src="https://local-shopee.raghavs2812.repl.co/static/Xiaomi_logo_PNG3.png" height="50%" width="50%"></td>   
       </tr>
       <tr align="center">
         <td><img src="https://local-shopee.raghavs2812.repl.co/static/Vivo-Logo-PNG1.png"  height="50%" width="50%"></td>
         <td><img src="https://local-shopee.raghavs2812.repl.co/static/Oppo_logo_PNG1.png" height="50%" width="50%"></td>
         <td><img src="https://local-shopee.raghavs2812.repl.co/static/Realme-logo.png" height="70%" width="70%"></td>
       </tr>
     </table>
     </div>
</div>


{% include 'footer.html' %}