
<!DOCTYPE html>
<html>
<head>
  <title>Half-Side Fixed and Scrollable Webpage</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
    }

    .fixed-section {
      width: 50%;
      height: 100vh;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .scrollable-section {
      width: 50%;
      height: 100vh;
      overflow-y: scroll;
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="fixed-section">
    <img src="watch.png" alt="">
  </div>
  <div class="scrollable-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</body>
</html>
