<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="_index.scss">
    <title>Local Shopee</title>
</head>
<body style="background-color: rgb(255, 255, 255); font-family: Calibri;">
    <!-- head nav -->
    <ul class="nav justify-content-end navbar navbar-dark bg-dark">
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"  tabindex="-1" aria-disabled="true">Contact +91 9665555146</a>
        </li>
      </ul>

      <!-- logo nav --> 
          <a class="navbar-brand"><img src="LSlogo.png" alt="Logo" height="20%" width="20%"></a>
          <div style="position: absolute;left: 78%; top:18%;"><h3>
            Login <span style="color: rgb(255, 255, 255);">sign </span>
            <span>Logout</span>
          </h3>
        </div>



      <!-- category nav -->
      <ul class="nav justify-content-left" style="background-color: rgb(236, 236, 236); margin: 10px 0px 10px 0px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Smartphones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">tablets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link acitve" href="#" tabindex="-1" aria-disabled="true">Laptop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link acitve" href="#" tabindex="-1" aria-disabled="true">Wearable Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link acitve" href="#" tabindex="-1" aria-disabled="true">Audio</a>
        </li>
      </ul>



<h1 style="text-align: center;">VIVO</h1>




<br>
      
      <!-- Products Section -->
<div class="container">
    <div class="row">
      <div class="col-6 col-lg-3 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Products Section -->
<br>
      <!-- Products Section -->
<div class="container">
    <div class="row">
      <div class="col-6 col-lg-3 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3 mb-5 mb-lg-0">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
  
      <div class="col-6 col-lg-3">
        <!-- Card -->
        <div class="card d-block">
          <img class="card-img-top" src="y56.jpg" alt="Image Description">
          <div class="card-footer text-center py-4">
            <h3 class="h5 mb-1">XXXXXX</h3>
            <span class="d-block text-muted font-size-1 mb-3">Starting @ ₹ 11 999</span>
            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#">View All</a>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Products Section -->
<br>












<br>
  <footer
          class="text-center text-lg-start text-black"
          style="background-color: #dcdcdc"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 font-weight-bold">
              LOCAL shopee
            </h4>
            <p>
                "Elevate your shopping experience: Save money, support local businesses, and empower communities."
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a class="text-black">Smartphone & Tablets</a>
            </p>
            <p>
              <a class="text-black">TV</a>
            </p>
            <p>
              <a class="text-black">Laptop</a>
            </p>        
            <p>
              <a class="text-black">Wearable Tech</a>
            </p>        
            <p>
              <a class="text-black">Audio</a>
            </p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Brands</h6>
            <p>
              <a class="text-black">APPLE</a>
            </p>
            <p>
              <a class="text-black">SAMSUNG</a>
            </p>
            <p>
              <a class="text-black">ONEPLUS</a>
            </p>        
            <p>
              <a class="text-black">VIVO</a>
            </p>        
            <p>
              <a class="text-black">More>></a>
            </p>
          </div>
          <!-- Grid column -->
          


          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
        

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Gadhinglaj 416502</p>
            <p><i class="fas fa-envelope mr-3"></i> localshopee@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 91 966 555 5146</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
  
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <img src="insta.png" height="15%" width="15%" style="margin: 0px 10px 0px 10px;">

            <!-- Twitter -->
            <img src="whatapplogo.png" height="10%" width="10%" style="margin: 0px 10px 0px 10px;">

            <!-- Google -->
            <img src="logo-facebookpng-32258.png" height="10%" width="10%" style="margin: 0px 10px 0px 10px;">

            <!-- Instagram -->
            <img src="lokasi-logo-25358.png" height="10%" width="10%" style="margin: 0px 10px 0px 10px;">
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
